h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p, body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}
