<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PujankeAir - register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/text_style.css}" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
<th:block th:replace="~{fragments/error_message :: error_message}"></th:block>

<main class="py-4 w-100 px-5 d-flex justify-content-center">
    <form class="w-25 d-flex flex-column gap-4 px-5 pt-5" method="post" th:action=@{/register}>
        <div class="form-group">
            <label for="txtUsername">Username</label>
            <input name="username" maxlength="20" type="text" class="form-control" id="txtUsername" placeholder="Enter the username you'd like" required>
        </div>
        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input name="passwordPlain" maxlength="255" type="password" class="form-control" id="txtPassword" placeholder="Enter a strong password" required>
        </div>
        <div class="form-group">
            <label for="txtConfirmPassword">Confirm password</label>
            <input name="passwordConfirmPlain" maxlength="255" type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm your password" required>
        </div>
        <button type="submit" class="btn btn-primary w-50 align-self-center">submit</button>
    </form>
</main>

<script th:src="@{/js/registration.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>